/* HomePage style section :D*/



.HomeBG2{
    background: url(Extras/bgmain2.png) rgb(8, 8, 8);
    background-size: 200px;
    background-attachment: fixed;
   

}
.HomeBG {
    background: url(Subs/background5.png) rgb(8, 8, 8);
    background-size: 700px;
    background-attachment: fixed;



   

}
body {
    overflow-x: hidden;
    cursor: url('foruse/cursor.png'), auto;
    }
    a:hover {
        cursor:url('foruse/cursor2.png'), auto;

        .merriweather-light {
            font-family: "Merriweather", serif;
            font-weight: 300;
            font-style: normal;
          }
          
          .merriweather-regular {
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: normal;
          }
          
          .merriweather-bold {
            font-family: "Merriweather", serif;
            font-weight: 700;
            font-style: normal;
          }
          
          .merriweather-black {
            font-family: "Merriweather", serif;
            font-weight: 900;
            font-style: normal;
          }
          
          .merriweather-light-italic {
            font-family: "Merriweather", serif;
            font-weight: 300;
            font-style: italic;
          }
          
          .merriweather-regular-italic {
            font-family: "Merriweather", serif;
            font-weight: 400;
            font-style: italic;
          }
          
          .merriweather-bold-italic {
            font-family: "Merriweather", serif;
            font-weight: 700;
            font-style: italic;
          }
          
          .merriweather-black-italic {
            font-family: "Merriweather", serif;
            font-weight: 900;
            font-style: italic;
          }
          
        }


.mainbox{
 
}
.Boxfiller 
{
    margin: auto;
    margin-top: 50px;
    border: 5px solid black;
    border-radius: 20px;
    width: 700px;
    margin-bottom: 50px;
}
.Boxfiller img
{ 
}

.line{
    margin-top: 10px;
    border: dashed 3px black;
}
.portfolio th img{
    height: 70px;
    border: #000000 solid 1px;
    border-radius: 10px;
     
}
 /* Style for the dropdown menu */
 .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Style for the dropdown button */
  .dropdown button {
    border-radius: 10px;
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  /* Style for the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
#Tableorder img{
    height: 40px;
    border: solid rgb(0, 0, 0) 1px;
    
}
  /* Style for the dropdown links */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
.informationBox{
   height: 300px;
   padding: 10px;
    background-color: rgb(0, 135, 145);
    margin-top: 100px;
    margin-left: 0px;
    border-radius: 20px;
    width: 200px;

}
.infopil p{
    border: 3px solid #5b4b43;
    border-radius: 10px;
    margin-bottom: 10px;

}
.infopil p{
 width: 210px;
 margin-left: -10px;

}
.informationBox p{
 width: 200px;


}
.box {
    width: 560px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px
}
.box img{
    margin: 20px
    
}
.choice li a{
    position: relative;
    top: 20px;
    left: 40px;
    color: goldenrod;
    text-decoration: none;
}
.choice li {
    
list-style: none;}
.zaza img{
   height: 20px;
   padding: 10px;
}
.zaza{
    color: rgb(56, 40, 0);
        background-color: rgb(170, 126, 14);
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        left: 50px;
        top: 10px;
        border-radius: 20px;
}
.Tittie{
    padding: 10px;
        border: 1px solid black;
        background-color: hsl(0, 0%, 100%);
        border: 2px rgb(255, 255, 255) solid;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.switcheroo button {
    background-color: black;
    color: white;
    cursor: pointer;
    border: 2px solid red;

}
.choice img{
    position: relative;
    left: 50px;
}
.switcheroo button:hover{
background-color: grey;
}

.Mona{
    text-decoration: none;
    background-color: black;
    padding: 10px;
position: relative;
top: 10px;
color: rgb(182, 118, 0);

}
.Mona:hover{
    background-color: rgb(182, 118, 0);
    color:wheat;

}
.Mb{
    min-height: 200px;
}
.Tittie2{
    padding-right: 100px;
        border: 1px solid black;
        background-color: hsl(47, 10%, 17%);  
}
.InfoBox{
    border: rgb(0, 0, 0) 2px solid;
    min-height:  100px;
    width: 300px;
    margin-bottom: 10px
}
.InfoBox2{
    min-height:  100px;
    margin-bottom: 10px
}
.InfoBox2 img{
   height: 20px;
}
.boxname {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    background: rgb(73, 56, 0);
    color: rgb(226, 197, 100);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}
.infobutton{
    background: white;
    border: solid 1px black
}
.infobutton:hover{
    background: grey;
    border: solid 1px black;
    cursor: pointer
}
.setterin{
    margin-bottom: 10px
}
.top{
    color: black
}
.top:hover{
    opacity: 50%
}
.buttonize {
    margin-top: 40px;
    margin-right: 20px;
}

/* when will this wooooor */
.buttonize a {
    border-radius: 10px;

    padding: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.buttonize a:hover {
    background-color: grey;
    color: rgb(0, 0, 0);

}

.Header {
    background: url(Subs/titleskull.png);
    height:230px;
    width:500px;
    background-size: 500px;
    padding-bottom: 10px;
}
.Header18 {
    background: url(Extras/DeathenizeHeade18.png);
    height:270px;
    width:600px;
    background-size: 590px;
    background-position: 5px 0px;
}

.Header:hover {
    background: url(Subs/titleskullh.png);
    height:230px;
    width:500px;
    background-size: 500px;
    padding-bottom: 10px;


 
   
}
.soc a{
    padding:10px;
}

.menu a {
    text-decoration: none;
    color: white;
   

}

.menu th {
    background: black;
    width: 150px;
    border-radius: 10px;


}

.menu th:hover {
    color: red;
    background: grey
}
@media only screen and (max-width: 600px) {
    .book-image {
      left: -10px; /* Move the book image 200 pixels to the right */
    }
  }
  .speech-bubble p {
  padding: 10px 20px;
  font-size: 15px;

  }
  .speech-bubble {
    position: relative;
    background-color: #181717;
    border-radius: 10px;
    width: 500px;
    margin: 20px;
    color: var(--Yellow);
    font-size: 15px;
  }
  
  .speech-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 250px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #181717;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -12px;
  }
  :root {
    --Yellow: rgb(255, 213, 0);
    --black: #000000;
    --brown:  #3c3838;
    --brown2:  #181717;
    /* color: var(--yellow); */
    /* color: var(--brown); */
    /* color: var(--black); */
   
}
#statuscafe {
    padding: .5em;
    background-color: rgb(243, 216, 216);
    border-radius: 10px;
}
#statuscafe-username {
    margin-bottom: .5em;
    color: palevioletred;
}
#statuscafe-username a{
    margin-bottom: .5em;
    color: palevioletred;
    text-decoration: none;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    color: palevioletred;}

    
    .book {
        border: 7px solid black;
        background-color: white;
        border-radius: 15px;
        padding: 0 4px;
        width: 500px; /* adjust size */
        max-width: 100%;
        aspect-ratio: 3 / 2;
        display: flex;
      }
      .pageL,	.pageR {
        height: 100%;
        width: 50%;
        display: inline-block;
        position: relative;
        border-radius: 10px;
      }
      .pageL {
        border-left: 1px grey solid;
      }
      .pageR { 
        border-right: 1px grey solid;
      }
      .seam {
        width: 7px;
        background:
          linear-gradient(to right,
          white, grey, white);
      }
          