

:root {
    --color1: rgb(134, 134, 134);
    --color2: rgb(112, 112, 112);
    --color3: rgb(188, 0, 0);

}

body {
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(backgrounds/stars.png) ;
    background-size: 200px;
}



.corners-bottom {
    border-radius: 0px 0px 30px 30px;
}
/* chapter box  */

.dialogueBox {
    padding: 5px;
    min-width: 710px;
    border: inset rgb(181, 122, 13); 
    border-radius: 10px 10px 10px 10px;
    background: rgb(198, 188, 146);
}

.visual {
    position: relative;
    width: 730px;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 5px 5px 5px 5px;
}
/* characters name color */
.char {
    opacity: 0;
}

.char2 {
    opacity: 0;
    transform: scaleX(-1);
}
#char2 {
    position: relative; /* Ensure it appears relative to .visual container */
    right: 0; /* This places char2 on the right side of the container */
    opacity: 1; /* Ensure it's visible */
}


.Deathenize {
    color: rgb(55, 58, 59);
    font-size: 15px;
}

.Grace {
    color: rgb(168, 0, 89);
}

/* Add classes for other characters as needed */

.Erik {
    color: rgb(0, 63, 130);
}

/* end */
.Jack {
    color: rgb(210, 157, 11);
}
.Diaz {
    color: rgb(183, 20, 20);
}
.Muertoz {
    color: rgb(107, 0, 0);
}
.Phasaphia {
    color: rgb(202, 46, 111);
}
.Phasaphia {
    color: rgb(202, 46, 111);
}
.Draziel {
    color: rgb(32, 95, 106);
}

.STOPLOOKINGHERE {
    color:  rgb(7, 6, 6);
}



.bg {
   position: absolute;
}



.button {
    cursor: pointer;
    font-size: 30px;
}
/* Main vis box */

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    background-color: rgb(32, 22, 22);
    height: auto;
    border: 3px solid rgb(116, 100, 57);
    border-radius: 15px;
}
/* end vis box */
h1 {
    font-family: "h1";
    margin: -3px;
    color: white;
    font-size: 15px;
}

h2 {
    font-family: "h2";
    margin: 2px;
    color: white;
    font-size: 20px;
}
h5 {
    font-family: "h2";
    margin: 2px;
    color: mediumvioletred;
}

a {
    color: var(--color1);
    text-decoration: underline 2px white;
}
 
a:visited {
    text-decoration: underline 2px white;
    color: var(--color1);
}
.choices {
    margin-top: 20px;
}

.choices button {
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.choices button:hover {
    background-color: rgb(91, 153, 161);
}


@media screen and (max-width: 730px) {    
    h1 {
      font-size: 5vw;
    }
    
    h2 {
      font-size: 6vw;
    }

    img {
        max-width: 97vw;
    }

    .visual {
        width: 97vw;
    }

    .char {
        max-width: 50vw;
        max-height: 50vw;
    }

    .char2 {
        max-width: 50vw;
        max-height: 50vw;
    }

    .dialogueBox {
        min-width: 90vw;
    }

    .box {
        max-width: 90vw;
    }
    
}

.speech-bubble p {
  padding: 10px 20px;
  font-size: 15px;

  }
  .speech-bubble {
    position: relative;
    background-color: rgb(32, 22, 22);
    border-radius: 10px;
    width: 500px;
    margin: 20px;
    color: rgb(197, 140, 54);
    font-size: 12px;
  }
  
  .speech-bubble::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 250px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color:rgb(32, 22, 22);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -12px;
  }